body {
    background: linear-gradient(300deg ,rgb(0, 0, 0) , rgb(25, 73, 230) );
    height: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.795);
    margin: 2%;
    padding: 0 120px;
    border-radius: 30px;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  main {
    padding: 20px 40px;
  }

  li {
    display: flex;
    color: white;
  }
  .intro, 
.training-section {
    background: rgba(0, 0, 0, 0.55);
    padding: 25px;
    margin: 25px 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.3);
    display: flex;
    flex-direction: column; 
    gap: 20px;
}
.training-content {
    display: flex;
    gap: 20px;     
    align-items: flex-start;

}

.intro h2,
.training-section h2 {
    margin-top: 0;
    color: #ffb3b3;
}

.training-section img {
    width: 250px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

p {
    line-height: 1.6;
    color: #e5e5e5;
}
  nav {
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    width: auto; 
    flex-wrap: wrap; 
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  button.nav {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 7%, 14%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    margin: 5px; 
  }
  
  button.nav::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #0917d1;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }
  
  button.nav:hover {
    cursor: pointer;
    color: #161616;
  }
  
  button.nav:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }
  