body {
  background: linear-gradient(300deg, rgb(0, 0, 0), red);
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

li {
  display: flex;
  color: white;
  list-style: none;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.795);
  margin: 2%;
  padding: 0 120px;
  border-radius: 30px;
}

h1 {
  margin: 10px;
}

nav {
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  width: auto;
  flex-wrap: wrap;
}

button.nav {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: hsl(0, 7%, 14%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  margin: 5px;
}

button.nav::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #940b0b;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

button.nav:hover {
  cursor: pointer;
  color: #161616;
}

button.nav:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;
  background-color: rgb(170, 18, 18);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: white;
}


.section>a,
.section>img {
  width: 300px;
  min-width: 300px;
  flex-shrink: 0;
  margin-right: 30px;
  display: block;
}

.section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.section img:hover {
  transform: scale(1.1);
}

.text {
  flex: 1;
  text-align: left;
}

.text h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
  margin-top: 0;
}

footer {
  display: flex;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  opacity: 80%;
  padding: 5px 40px;
  margin: 20px;
}

footer h2 {
  color: white;
}

@media (max-width: 768px) {
  header {
    padding: 0%;
  }

  .section {
    flex-direction: column;
    text-align: center;
  }

  .section img {
    max-width: 80%;
    margin-bottom: 15px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  nav {
    justify-content: space-evenly;
    width: 100%;
  }

  nav button {
    width: auto;
    font-size: 1.1rem;
    padding: 12px 20px;
  }
}